.add-to-cart-btn-wishlist {
  width: 100%;
  margin: 20px 0;
}
.book-mark-icon {
  margin: 0 10px;
  width: 54px;
  height: 62px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.book-mark-icon .css-i4bv87-MuiSvgIcon-root {
  color: #242424;
  width: auto;
  height: 50px;
}

.add-to-cart-btn {
  width: 60%;
  min-width: 30%;
  height: 62px;
  border: none;
  font: normal normal normal 24px/15px Muli;
  letter-spacing: 0.48px;
  color: #242424;
  text-transform: capitalize;
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
}
